body{
    font-family: "Roboto", sans-serif;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px;
}

.header-navegation{
    display: flex;
    align-items: center;
}

.header-list{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: auto;
}

.header-item{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header-item:not(:last-child){
    margin-right: 32px;
    
}

.header-link{
    text-decoration: none;
    color: #000; 
}

.site-link{
    margin-left: 32px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    padding: 12px 24px;
    background-color: #ff7500;
    border: 1px solid #ff7500;
    border-radius: 8px;
    color: #FFFFFF;

}
/*
.box{
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgb(29, 32, 29);
}

.boxx{
    margin-right: auto;
    
    color: white;
}

.box__img{
    margin-left: auto;
   
}

.box__text{
    margin: 0;
}

.box__title{
    margin-bottom: 50px;
}

.box__text{
 margin-bottom: 40px;
}

.box__link{
    text-decoration: none;
    color: white;
    padding: 5px 5px 5px 5px;
}

.heroo{
    display: flex;
    list-style: none;
    padding: 0;
}

.hero-item:not(:last-child){
    margin-right: 200px;
}

.section{
    margin: 0;
    padding: 0;
    display: flex;
  
}

.sectionn{
    margin-right: auto;
   

}

.section__text{
    margin: 0;
}

.section__title{
    margin-bottom: 50px;
}

.section__text{
 margin-bottom: 40px;
}

.section__link{
    text-decoration: none;
    color: black;
    padding: 5px 5px 5px 5px;
}

.foooter-list{
    display: flex;
    padding: 0;
}

.foooter-item{
    list-style: none;
}

.foooter-item:first-child{
    margin-right: auto;
    
}

.footerr {
    display: flex;
    justify-content: space-between;
}

.footer {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-link{
    text-decoration: none;
    color: black;
}

.foooter-item:not(:first-child){
    margin-left: 12px;
}*/
