/*.container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.hero {
    background: #0EB4C1;
}

.box-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-list__item {
    width: 100px;
    text-align: center;
    background-color: dodgerblue;
    border: 1px solid #000;
    border-radius: 5px;
}

.box-list__item:not(:last-child) {
    margin-bottom: 15px;
}

.box-list__item--kichkina {
    background-color: pink;
}*/

img{
    max-width: 100%;
    height: auto;

}

.container{
    width: 100%;
    max-width: 1100px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: auto;
    margin-left: auto;

}

.gallery{
    display: flex;
    flex-wrap: wrap;
    margin-left: -50px;
    margin-bottom: -50px;

}

.gallery-item{
    margin-left: 50px;
    margin-bottom: 50px;
}

.gallery-img{
    display: block;
    width: 300px;
    height: 300px;
    object-fit: cover;

}